{% load static %}
<li>
    <article class="post">
        <a href="{% url "load-post" slug="slug-here" %}">
            <img src="{% static "blog/images/img2.jpg" %}" alt="Post Img"/>
            <div class="post__content">
                <h3>Post Title</h3>
                <p>Preview Text- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                    convallis elementum hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum malesuada risus vel justo gravida, id ultrices enim varius.</p>
            </div>
        </a>
    </article>
</li>